:root {
  color-scheme: dark;
}

/* Make app fill the whole screen */
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
}

/* Base font */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    sans-serif;
}

